body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.w-95 {
    width: 95%;
}

.pr-12 {
    padding-right: 12px;
}

.button-ad {
    padding: 0 5px;
}

.white-color {
    color: white;
}


/* !"DEBUG" DA ELIMINARE TERMINATO IL CODICE*/
.debug {
    background-color: rgba(0, 102, 255, 0.5);
    border: 1px solid #000;
}

/* container */
.container-fluid {
    padding: 0;
}


/* HEADER */
.fixed-top {
    height: 60px;
}

.fixed-top .container-fluid .mobile-logo {
    height: 45px;
    display: none;
}

.fixed-top .container-fluid .mobile-logo img {
    height: 100%;
}

.navbar {
    height: 100%;
}

.navbar .collapse>form .form-control {
    padding-left: 30px;
}

.navbar .collapse>form i {
    position: relative;
    left: 25px;
    top: 10px;
}

/* /HEADER */


/* MAIN */
.main-content {
    height: 100vh;
    margin-top: 60px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    background-image: url('../img/sidebar-bg.png');
}

.main-content .sidebar .menu-up {
    height: 100px;
}

.main-content .sidebar .menu-up ul li:nth-child(2) i {
    padding-right: 21px;
}

.menu-up ul li:nth-child(3) i {
    padding-right: 14px;
}

.main-content .sidebar .menu-down {
    height: 80px;
    margin-bottom: 60px;
}

.content {
    height: 100%;
    width: calc(100% - 150px);
    overflow-y: auto;
}




.table-class {
    border-radius: 5px;
}

.faq {
    border-radius: 5px;
    height: 200px;

}

.todo {
    border-radius: 5px;
    height: 200px;

}

.graphic {
    border-radius: 5px;
}

.table-class .table tr td:first-child {
    width: 56%;
}

.table-class .table tr td:first-child .img {
    height: 25px;
}

.table-class .table tr td:first-child .img img {
    height: 100%;
}

/* /MAIN */






/* breakpoint md */
@media screen and (max-width: 992px) {
    .fixed-top .container-fluid .mobile-logo {
        display: block;
    }

    .fixed-top .container-fluid .logo {
        height: 45px;
        display: none;
    }

    .h-menu {
        display: none;
    }

    .question {
        display: none;
    }

    .e-menu {
        display: none;
    }


    .sidebar {
        width: 60px;
    }

    .sidebar .menu-up ul li a span {
        display: none;
    }

    .sidebar .menu-down a span {
        display: none;
    }


    .content {
        width: calc(100% - 60px);
    }

}

/* /breakpoint md */





/* breakpoint xxl */
@media screen and (max-width: 1200px) {

    .table-class .table tr td:first-child {
        width: 10%;
    }
}

/* /breakpoint xxl */




/* breakpoint xxl */
@media screen and (max-width: 1400px) {

    .table-class .table tr td:first-child {
        width: 40%;
    }
}

/* /breakpoint xxl */