body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.w-95 {
    width: 95%;
}


/* !"DEBUG" DA ELIMINARE TERMINATO IL CODICE*/
.debug {
    background-color: rgba(0, 102, 255, 0.5);
    border: 1px solid #000;
}

/* container */
.container-fluid {
    padding: 0;
}


/* HEADER */
.fixed-top {
    height: 60px;
} 
.fixed-top .container-fluid .mobile-logo {
    height: 45px;
    display: none;
} 

.fixed-top .container-fluid .mobile-logo img {
    height: 100%;
}

.navbar {
    height: 100%;
}

.navbar .collapse>form .form-control{
    padding-left: 30px;
}

.navbar .collapse>form i {
    position: relative;
    left: 25px;
    top: 10px;
}

/* /HEADER */


/* MAIN */
.main-content {
    height: 100vh;
    margin-top: 60px;
}

.sidebar {
    display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 150px;
}

.main-content .sidebar .menu-up {
height: 200px;
}

.main-content .sidebar .menu-down {
    height: 80px;
margin-bottom: 60px;
}

.content {
    height: 100%;
    width: calc(100% - 150px);
    overflow-y: auto;
}

/* /MAIN */






/* breakpoint md */
@media screen and (max-width: 768px) {
    .fixed-top .container-fluid .mobile-logo {
        display: block;
    }

    .fixed-top .container-fluid .logo {
        height: 45px;
        display: none;
    } 

    .h-menu {
        display: none;
    }

    .question {
        display: none;
    }

    .e-menu {
        display: none;
    }

}

    


/* /breakpoint md */